<%- include _header.ejs %>

<div id="content" layout="row" layout-wrap>
			
			<div id="main_content" flex="80">
				<div id="pat_sel">
					<h1 style="margin-left:0;">Welcome <em><%= doctor.name %></em> back to the MedCheck program!</h1>
					<p>Please select the patient you want to review:</p>
					<select name="singleSelect" ng-model="data.singleSelect" ng-change="loadData();">
					<% patients.forEach(function(patient) { %>
						<option value="<%= patient['_id'] %>"><%= patient['name'] %></option>
					<%	}) %>
	    			</select>
	    			<br>
    			</div>
    		</div>
		</div>
	</body>
</html>
