#heartrate {
	



	}
#activity {


}

canvas {
	
	
	width:100%;
	
	height : 200px;

}

#main_content {
	padding-left:25px;

}

.wrapper {
	margin-top:50px;
	width: calc(100% - 50px);
	margin-bottom:20px;
	
	}

.md-button.md-raised:not([disabled]) {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#comment {
height:200px;
width: 60%;
background-color:#CCCCCC;
color:black;
box-shadow: none;
border:none;
padding: 10px;

}


h1 {
	margin-left:25px;
	font-family:'Raleway', 'sans-serif';

}
#pat_sel{
	margin-left:25px;

}


#sticky {
	background-color: #E6E6E6;
	position: fixed;
	min-height: 100%;
	padding-top: 20px;

	}

h3 {
	margin:10px;
	font-family: 'Raleway';
	font-weight: 900;

}


p {
	font-family:'Raleway';
	font-size: 17px;
	font-weight: 900;
	margin: 5px 0;
}

#patient_info {
	margin-left:20px;
	padding: 0 7px;

}

#sidebar_wrap{
	padding:0 3px;

	}
